.container {
  display: flex;
  flex-direction: row; /* Make the sidebar and banner appear in a row */
  width: 100%;
  margin-left: 5px;
  margin-top: -8px;
}

.sidebar {
  width: 20%; /* Adjust width as needed */
  background-color: #f4f4f4; /* Example background color */
}

.banner {
  width: 80%; /* Adjust width as needed */
  background-color: #ddd; /* Example background color */
}

  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar ul li:hover {
    color: #000;
  }
  
  .arrow {
    font-weight: bold;
  }
  